<!DOCTYPE html>
    
    <html>
        <head>
            <title>{% block title%}Skating {% endblock%}</title>
                        <link href="{{STATIC_URL}}css/skating.css" rel="stylesheet">

            <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
                    
	    
            
            
            
        </head>
        

        <body>
            
            <div id="back" style="background-color: #E7F3FF; width: 100%; height: 100%;">
            <div class="navhere">
        
<nav>
	<ul>
		<li><a href="{% url 'skating_home' %}"><h3>Home</h3></a></li>
		<h3>Athletes</h3>
                    
                    
			<ul>
                            {% for athlete in athletes %}
				<li><a href="{% url 'skating_athlete' %}/{{athlete.id}}">{{athlete.name}}</a></li>
				
			    {%endfor%}
			</ul>
                        
		</li>
                                
		
	</ul>
</nav>
            </div>

            
            
        
            <div class="container">
                {% block content%}{% endblock%}
            </div>
         
          
            </div>
            
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
            
        </body>           
            
        
    </html>